@use "sass:math";

// mixin
//Percent
// @function percent($px, $from) {
//   $result: math.div($px, $from) * 100%;
//   @return $result;
// }

//REM
@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

//EM
// @function em($px, $current: 16) {
//   $result: math.div($px, $current) + em;
//   @return $result;
// }

// Grids
@mixin grid($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

// Адаптивная формула для текста в Rem
$maxWidth: 1440;
@mixin adaptiv-font($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  font-size: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для line-height в Rem
$maxWidth: 1440;
@mixin adaptiv-lineHeight($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  line-height: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для ширины блоков в Px
@mixin adaptiv-block($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  width: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для calc в px
@function adaptiv-number($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  $result: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// img
@mixin img($type: contain) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: $type;
}

// Адаптивная формула для текста в Rem
@function adaptiv-num-rem(
  $min: 16,
  $maxF: 20,
  $maxWidth: 1440,
  $minWidth: 320
) {
  $minF: $min / 16;
  $result: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// mixin

.slider-main {
  margin: rem(75) 0;

  h2 {
    margin-bottom: rem(75);
  }
}

.slick-list {
  background: #ece8f3;
  border: 2px solid #683ace;
}

.slider {
  padding: rem(50);

  @media (max-width: 1280px) {
    padding: adaptiv-num-rem(15, 50, 1280, 320)
      adaptiv-num-rem(15, 50, 1280, 320) rem(50)
      adaptiv-num-rem(15, 50, 1280, 320);
  }

  h3 {
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(29);
    color: #683ace;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(16, 24, 1280, 320);
      line-height: adaptiv-num-rem(22, 29, 1280, 320);
    }
  }
}

.slider__title {
  margin-bottom: rem(30);
  align-items: flex-end;
}

.slider__title-link {
  align-items: center;
  margin-left: rem(30);
  cursor: pointer;

  a {
    font-weight: 500;
    font-size: rem(10);
    line-height: rem(12);
    text-decoration-line: underline;
    color: #683ace;
  }

  &:hover .slider__title-img {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
  }
}

.slider__title-img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: #683ace;
  }
}

.slider__card {
  max-width: 300px;
  max-height: 400px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 0 0 100% 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slider__block-left {
  flex: 1 1 rem(300);
}

.slider__block-right {
  flex: 1 1 rem(300);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slick-arrow {
  z-index: 0;
}

.slick-prev {
  // background-image: url(../../public/img/icon/arrow-slider.svg);
  right: 130px;
  z-index: 1;

  @media (max-width: 1280px) {
    right: adaptiv-num-rem(70, 130, 1280, 320);
  }
}

.slick-next {
  right: 70px;
  z-index: 1;

  @media (max-width: 1280px) {
    right: adaptiv-num-rem(30, 70, 1280, 320);
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: #683ace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
