@use "sass:math";

// mixin
//Percent
// @function percent($px, $from) {
//   $result: math.div($px, $from) * 100%;
//   @return $result;
// }

//REM
@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

//EM
// @function em($px, $current: 16) {
//   $result: math.div($px, $current) + em;
//   @return $result;
// }

// Grids
@mixin grid($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

// Адаптивная формула для текста в Rem
$maxWidth: 1440;
@mixin adaptiv-font($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  font-size: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для line-height в Rem
$maxWidth: 1440;
@mixin adaptiv-lineHeight($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  line-height: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для ширины блоков в Px
@mixin adaptiv-block($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  width: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для calc в px
@function adaptiv-number($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  $result: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// img
@mixin img($type: contain) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: $type;
}

// Адаптивная формула для текста в Rem
@function adaptiv-num-rem(
  $min: 16,
  $maxF: 20,
  $maxWidth: 1440,
  $minWidth: 320
) {
  $minF: $min / 16;
  $result: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// mixin

// -----------Стартовый блок-------------
.section__start {
  margin-top: rem(140);
}

.section__start-left {
  h2 {
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(39);
    color: #131b15;
  }

  h1 {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 600;
    font-size: rem(43);
    line-height: rem(59);
    color: #131b15;
    padding: rem(5) 0 rem(50) 0;
  }

  ul {
    gap: rem(15);

    li {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #131b15;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: rem(25);
        height: rem(1);
        background-color: #683ace;
        margin-right: rem(15);
      }
    }
  }
}

.start__btn {
  background: #683ace;
  border-radius: rem(10);
  -webkit-border-radius: rem(10);
  -moz-border-radius: rem(10);
  -ms-border-radius: rem(10);
  -o-border-radius: rem(10);
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(20);
  color: #ffffff;
  padding: rem(22) rem(70);
  margin-top: rem(50);
  align-self: flex-start;
}

.start__img {
  max-width: 320px;
  max-height: 376px;
  margin-left: auto;
  //   align-self: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
// -----------Стартовый блок-------------

// -----------Второй блок обо мне-------------
.section__about {
  margin-top: rem(200);
}

.about__img {
  max-width: 419px;
  max-height: 456px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.section__about-right {
}

.section__about-right--wrapper {
  max-width: rem(490);
  margin-left: auto;
  justify-content: center;

  h2 {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    text-transform: uppercase;
    color: #131b15;
    padding-bottom: rem(20);
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #683ace;
    padding-bottom: rem(30);
  }
  ul {
    gap: rem(30);

    li {
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #131b15;
      }
    }
  }
}

.plus {
  max-width: rem(660);
  gap: rem(32);
  margin: rem(100) auto;

  p {
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(26);
    text-align: center;
    color: #131b15;
    max-width: rem(564);
    margin: 0 auto;
  }
}
// -----------Второй блок обо мне-------------

// -----------Третий блок Сертификаты и образование-------------
.section__education {
}

.education-main {
  h2 {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(39);
    text-transform: uppercase;
    color: #131b15;
    padding: rem(55) 0 rem(75) 0;
  }

  ul {
    max-width: rem(711);
    margin: 0 auto;
    gap: rem(15);
    li {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(20);
      color: #000000;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;
        width: rem(25);
        height: rem(1);
        background-color: #683ace;
        margin-right: rem(15);
      }
    }
  }

  & .plus {
    gap: rem(62);
  }
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 30px;
  max-width: 620px;
  margin: 50px auto 75px auto;
}

.education__img {
  max-width: 100px;
  max-height: 100px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
// -----------Третий блок Сертификаты и образование-------------

// -----------четвертый блок вопросы-------------
.section__question {
}

.question-main {
  h2 {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(39);
    text-transform: uppercase;
    color: #131b15;
    padding: rem(75) 0 rem(50) 0;
  }
}
// -----------четвертый блок вопросы-------------
