@use "sass:math";

// mixin
//Percent
// @function percent($px, $from) {
//   $result: math.div($px, $from) * 100%;
//   @return $result;
// }

//REM
@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

//EM
// @function em($px, $current: 16) {
//   $result: math.div($px, $current) + em;
//   @return $result;
// }

// Grids
@mixin grid($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

// Адаптивная формула для текста в Rem
$maxWidth: 1440;
@mixin adaptiv-font($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  font-size: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для line-height в Rem
$maxWidth: 1440;
@mixin adaptiv-lineHeight($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  line-height: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для ширины блоков в Px
@mixin adaptiv-block($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  width: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для calc в px
@function adaptiv-number($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  $result: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// img
@mixin img($type: contain) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: $type;
}

// Адаптивная формула для текста в Rem
@function adaptiv-num-rem(
  $min: 16,
  $maxF: 20,
  $maxWidth: 1440,
  $minWidth: 320
) {
  $minF: $min / 16;
  $result: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// mixin

// -----------Стартовый блок познавательные материалы-------------
.section__blog {
  margin-top: rem(75);
}

.article__blog {
  margin: rem(100) 0;
  gap: rem(75);

  @media (max-width: 1280px) {
    gap: adaptiv-num-rem(25, 75, 1280, 600);
  }
  @media (max-width: 600px) {
    gap: adaptiv-num-rem(25, 75, 600, 320);
  }
}
.blog__block-left {
  flex: 2 1 rem(330);
}

.blog__block-right {
  flex: 1 1 rem(215);

  h5 {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #000000;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(16, 20, 1280, 600);
      line-height: adaptiv-num-rem(18, 24, 1280, 600);
    }
    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(16, 20, 600, 320);
      line-height: adaptiv-num-rem(18, 24, 600, 320);
    }
  }

  p {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(20);
    color: #000000;
    padding: rem(30) 0 rem(60) 0;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(12, 16, 1280, 600);
      line-height: adaptiv-num-rem(16, 20, 1280, 600);
      padding: adaptiv-num-rem(15, 30, 1280, 600) 0
        adaptiv-num-rem(25, 60, 1280, 600) 0;
    }
    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(12, 16, 600, 320);
      line-height: adaptiv-num-rem(16, 20, 600, 320);
      padding: adaptiv-num-rem(15, 30, 600, 320) 0
        adaptiv-num-rem(25, 60, 600, 320) 0;
    }
  }
}

.blog__img {
  background: linear-gradient(113.1deg, #683ace 0%, #e7a5e7 100%);
  padding: rem(22);
}

.media__content {
  border: 2px solid #ffffff;
  padding: rem(88) rem(88) rem(22) rem(88);
  gap: rem(45);

  @media (max-width: 1280px) {
    padding: adaptiv-num-rem(15, 88, 1280, 600)
      adaptiv-num-rem(15, 88, 1280, 600) adaptiv-num-rem(10, 22, 1280, 600)
      adaptiv-num-rem(15, 88, 1280, 600);
  }
  @media (max-width: 600px) {
    padding: adaptiv-num-rem(15, 88, 600, 320) adaptiv-num-rem(5, 88, 600, 320)
      adaptiv-num-rem(10, 22, 600, 320) adaptiv-num-rem(5, 88, 600, 320);
  }

  h3 {
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(30);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(12, 20, 1280, 600);
      line-height: adaptiv-num-rem(20, 30, 1280, 600);
    }
    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(12, 20, 600, 320);
      line-height: adaptiv-num-rem(20, 30, 600, 320);
    }
  }

  p {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(20);
    text-align: center;
    color: #ffffff;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(10, 16, 1280, 600);
      line-height: adaptiv-num-rem(14, 20, 1280, 600);
    }
    @media (max-width: 600px) {
      font-size: adaptiv-num-rem(10, 16, 600, 320);
      line-height: adaptiv-num-rem(14, 20, 600, 320);
    }
  }
}

.blog__btn {
  display: inline-block;
  padding: rem(22) rem(50);
  background: #683ace;
  border-radius: 10px;
  font-weight: 500;
  font-size: rem(16);
  line-height: rem(20);
  color: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  &:hover {
    background: #6e3ddb;
  }
  &:active {
    background: #6434ce;
  }

  @media (max-width: 1280px) {
    font-size: adaptiv-num-rem(12, 16, 1280, 600);
    line-height: adaptiv-num-rem(16, 20, 1280, 600);
    padding: adaptiv-num-rem(15, 22, 1280, 600)
      adaptiv-num-rem(25, 50, 1280, 600);
  }
  @media (max-width: 600px) {
    font-size: adaptiv-num-rem(12, 16, 600, 320);
    line-height: adaptiv-num-rem(16, 20, 600, 320);
    padding: adaptiv-num-rem(15, 22, 600, 320) adaptiv-num-rem(25, 50, 600, 320);
  }
}
