@use "sass:math";

// mixin
//Percent
// @function percent($px, $from) {
//   $result: math.div($px, $from) * 100%;
//   @return $result;
// }

//REM
@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

//EM
// @function em($px, $current: 16) {
//   $result: math.div($px, $current) + em;
//   @return $result;
// }

// Grids
@mixin grid($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
}

// Адаптивная формула для текста в Rem
$maxWidth: 1440;
@mixin adaptiv-font($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  font-size: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для line-height в Rem
$maxWidth: 1440;
@mixin adaptiv-lineHeight($min: 16, $maxF: 20, $minWidth: 320) {
  $minF: $min / 16;
  line-height: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для ширины блоков в Px
@mixin adaptiv-block($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  width: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
}

// Адаптивная формула для calc в px
@function adaptiv-number($min: 16, $maxF: 20, $maxWidth: 1440, $minWidth: 320) {
  $result: calc(
    #{$min + px} + (#{$maxF} - #{$min}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// img
@mixin img($type: contain) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: $type;
}

// Адаптивная формула для текста в Rem
@function adaptiv-num-rem(
  $min: 16,
  $maxF: 20,
  $maxWidth: 1440,
  $minWidth: 320
) {
  $minF: $min / 16;
  $result: calc(
    #{$minF + rem} + (#{$maxF} - #{$minF * 16}) * ((100vw - #{$minWidth + px}) /
          (#{$maxWidth} - #{$minWidth}))
  );
  @return $result;
}

// mixin

// BEM линия
.line {
  height: 2px;
  background-color: #683ace;
  flex: 1 20 auto;
}

.footer {
  flex: 0 0 auto;
}

.footer-top {
  display: flex;
  align-items: center;

  & > .line {
    @media (max-width: 1105px) {
      display: none;
    }
  }
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1030);
  padding: 0 rem(15) 0 rem(15);
  flex: 20 1 auto;

  @media (max-width: 1105px) {
    margin: 0 auto;
    flex: 1 1 auto;
  }

  @media (max-width: 750px) {
    gap: rem(15);
  }

  & > .line {
    @media (max-width: 750px) {
      display: none;
    }
  }
}

.footer__docs {
  display: flex;
  gap: rem(50);
  margin: 0 auto;

  @media (max-width: 1280px) {
    gap: adaptiv-num-rem(15, 50, 1280, 320);
  }

  @media (max-width: 1280px) {
    font-size: adaptiv-num-rem(22, 32, 1280, 600);
    line-height: adaptiv-num-rem(30, 45, 1280, 600);
  }
  @media (max-width: 600px) {
    font-size: adaptiv-num-rem(22, 32, 600, 320);
    line-height: adaptiv-num-rem(30, 45, 600, 320);
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #131b15;

    @media (max-width: 1280px) {
      font-size: adaptiv-num-rem(14, 16, 1280, 320);
      line-height: adaptiv-num-rem(18, 20, 1280, 320);
    }

    &:last-child {
      padding-right: rem(15);
    }
  }
}

.society {
  display: flex;
  align-items: center;
  padding-left: rem(15);
  gap: 25px;
  margin: 0 auto;
}

.society__img {
  width: 32px;
  height: 32px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer-bottom {
  margin: rem(65) 0 rem(50) 0;
  display: flex;
  justify-content: center;
  position: relative;
  a {
    background: #baa5e7;
    border-radius: 10px;
    padding: rem(12) rem(40);

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    position: relative;
    text-align: center;

    &::before {
      content: "";
      display: block;
      background-image: url(../../public/img/icon/heart.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 32px;
      height: 32px;
      position: absolute;
      top: -16px;
      left: 50%;
      z-index: 1;
      margin-left: -16px;
    }
  }
}
